<!DOCTYPE html>
<html>
<head>
    <title>Log IN</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="username" placeholder="Username" value="mihai">
    <input type="password" name="password" placeholder="Password" value="sada">
    <input type="submit" value="Log in">
</html>